@model Model.DTO.MobileDTO

<ul class="parameter">
    <li>
        <span>@Html.DisplayNameFor(model => model.screen):</span>
        <div>
            @Html.DisplayFor(model => model.screen)
        </div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.os):</span>
        <div>
            @Html.DisplayFor(model => model.os)
        </div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.backcamera):</span>
        <div>@Html.DisplayFor(model => model.backcamera)</div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.frontcamera):</span>
        <div>@Html.DisplayFor(model => model.frontcamera)</div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.cpu):</span>
        <div>
            @Html.DisplayFor(model => model.cpu)
        </div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.ram):</span>
        <div>@Html.DisplayFor(model => model.ram)</div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.internalmemory):</span>
        <div>@Html.DisplayFor(model => model.internalmemory)</div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.memorystick):</span>
        <div>@Html.DisplayFor(model => model.memorystick)</div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.sim):</span>
        <div>
            @Html.DisplayFor(model => model.sim)
        </div>
    </li>
    <li>
        <span>@Html.DisplayNameFor(model => model.batery):</span>
        <div>@Html.DisplayFor(model => model.batery)</div>
    </li>
</ul>
