@model IEnumerable<Model.EF.Catalog>

<div class="related-products-wrapper">
    <h2 class="related-products-title">Xem thêm @ViewBag.typeName cùng dòng</h2>
    <h2 class="related-product-name">@ViewBag.catalogName</h2>
    <div class="related-products-carousel">
        @foreach (var item in Model)
        {
            <div class="single-product">
                <div class="product-f-image">
                    <img src="@item.pictureuri" alt="">
                    <div class="product-hover">
                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Mua</a>
                        <a href="@Url.Action("index", "product", new { id = item.id })" class="view-details-link"><i class="fa fa-link"></i> Thông tin</a>
                    </div>
                </div>

                <h2><a href="@Url.Action("index", "product", new { id = item.id })">@item.name</a></h2>

                <div class="product-carousel-price">
                    <ins>@String.Format("{0:0,0 VNĐ}", item.price) </ins>
                </div>
            </div>
        }
    </div>
</div>
