@model Model.DTO.BillDTO

@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="product-content-right">
    <div class="woocommerce">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@TempData["Message"] !</strong>
            </div>
        }

        @using (Html.BeginForm("payment", "checkout", FormMethod.Post, new { @class = "checkout" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" }, "error")
            <div id="customer_details" class="col2-set">
                <div class="col-1">
                    <div class="woocommerce-billing-fields">
                        <h3>Chi tiết đơn hàng</h3>

                        <p id="billing_username_field" class="form-row form-row-first validate-required">
                            <label class="" for="billing_username">
                                Họ và tên <abbr title="bắt buộc" class="required">*</abbr>
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </label>
                            @Html.TextBoxFor(x => x.username, new { @class = "input-text", @autocomplete = "on" })
                        </p>

                        <div class="clear"></div>

                        <p id="billing_phonenumber_field" class="form-row form-row-first validate-required">
                            <label class="" for="billing_phonenumber">
                                Số điện thoại <abbr title="bắt buộc" class="required">*</abbr>
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </label>
                            @Html.TextBoxFor(x => x.phone, new { @class = "input-text", @autocomplete = "on" })
                        </p>

                        <p id="billing_email_field" class="form-row form-row-first validate-required">
                            <label class="" for="billing_email">
                                Email <abbr title="bắt buộc" class="required">*</abbr>
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </label>
                            @Html.TextBoxFor(x => x.email, new { @class = "input-text", @autocomplete = "on" })
                        </p>

                        <div class="clear"></div>

                        <p id="billing_shiptoaddress" class="form-row form-row-wide address-field validate-required">
                            <label class="" for="billing_shiptoaddress">
                                Ship tới <abbr title="bắt buộc" class="required">*</abbr>
                                @Html.ValidationMessageFor(model => model.shiptoaddress, "", new { @class = "text-danger" })
                            </label>
                            @Html.TextBoxFor(x => x.shiptoaddress, new { @class = "input-text", @placeholder = "Địa chỉ" })
                        </p>

                    </div>
                </div>

                <div class="col-2">
                    <div class="woocommerce-shipping-fields" style="margin-top: 37px;">

                        <div class="clear"></div>

                        <p id="order_comments" class="form-row notes">
                            <label class="" for="order_comments">Chú thích mua hàng</label>
                            <textarea cols="5" rows="2" placeholder="Ghi chú về đơn hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng." class="input-text"
                                      name="notebuy" style="max-width: 360px; height: 105px; min-width: 360px;"></textarea>
                        </p>

                    </div>

                </div>

            </div>

            <h3 id="order_review_heading">Giỏ hàng của bạn</h3>

            <div id="order_review" style="position: relative;">

                @{ Html.RenderAction("ShopTable", "checkout");}

                <div id="payment">
                    <div class="form-row place-order">

                        <input type="submit" value="Đặt hàng" id="place_order" class="button alt">

                    </div>

                    <div class="clear"></div>

                </div>
            </div>
        }

    </div>
</div>
