@model PagedList.IPagedList<Model.Models.JoinTableCatalog>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách sản phẩm
}

@section style{
    <link href="~/Assets/admin/css/mystyle.css" rel="stylesheet" />
}

@section  jsFooter{
    <script src="~/Assets/admin/js/controller/userController.js"></script>
}

<div class="col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách @ViewBag.type</h6>
        </div>
        <div class="table-responsive p-3">
            <table class="table align-items-center table-flush table-hover" id="dataTableHover" style="text-align: center;">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 160px;">Thương hiệu</th>
                        <th style="width: 200px;">Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Mô tả</th>
                        <th style="width: 130px;">Số lượng</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr data-id="@item.Catalog.id" class="view-details-link">
                            <a href="@Url.Action("detail", new { id = item.Catalog.id })" id = "catalog_@item.Catalog.id" ></a>
                            <td>@item.CatalogBrand.brand</td>
                            <td>@item.Catalog.name</td>
                            <td><img src="@Url.Content(item.Catalog.pictureuri)" alt="Image" width="100" /></td>
                            <td><p>@item.Catalog.description</p></td>
                            <td>@item.Catalog.quantity</td>
                            <td>@String.Format("{0:0,0 VNĐ}", item.Catalog.price)</td>
                        </tr>
                    }
            </table>
        </div>
        <div class="card-footer d-flex flex-row align-items-center justify-content-between">
            @Html.PagedListPager(Model, page => Url.Action("index", new { page, @type = @ViewBag.type }),
            new PagedListRenderOptions
                 {
                LiElementClasses = new List<string> { "paginate_button", "page-item" },
                FunctionToTransformEachPageLink = (liTag, aTag) =>
                     {
                    aTag.Attributes.Add("class", "page-link");
                    liTag.InnerHtml = aTag.ToString();
                    return liTag;
                },
                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                MaximumPageNumbersToDisplay = 3
            })
        </div>
    </div>
</div>
