@model Model.EF.Catalog

@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Cập nhật sản phẩm
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cập nhật sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pictureuri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pictureuri, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pictureuri, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.content, new { @class = "form-control", @rows = "4" })
                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
            </div>
        </div>

        @{
            List<SelectListItem> listtype = new List<SelectListItem>() {
                new SelectListItem
                {
                    Selected = false,
                    Text = "Điện thoại",
                    Value = "1"
                },
                new SelectListItem
                {
                    Selected = false,
                    Text = "Laptop",
                    Value = "2"
                }
            };

            <div class="form-group">
                @Html.LabelFor(model => model.catalogtypeid, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.catalogtypeid, listtype,
               new { @class = "ml-5 form-control control-label col-md-2" })
            </div>
        }

        @{
            var listbrand = new Model.Models.ListCatalogBrand().listBrand;
            <div class="form-group">
                @Html.LabelFor(model => model.catalogbrandid, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.catalogbrandid, listbrand,
               new { @class = "ml-5 form-control control-label col-md-2" })
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control", @min = "1" } })
                @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu thay đổi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "detail", new { id = Model.id})
</div>
