
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/Assets/admin/img/logo/logo.png" rel="icon">
    <title>Mobile World - @ViewBag.Title</title>
    <link href="/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/admin/css/admin-ruang.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/mystyle.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/pagination.css" rel="stylesheet" />
    @RenderSection("style", required: false)
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        @RenderPage("_LeftMenu.cshtml")
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                @RenderPage("_Header.cshtml")
                <!-- Topbar -->
                <!-- Container Fluid-->

                <div class="col-lg-12 mb-4">
                    @RenderBody()
                </div>

                <!---Container Fluid-->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>
                                copyright &copy;
                                <b class="page-header">@RenderSection("header", required: true)</b>
                            </span>
                        </div>
                    </div>
                </footer>
                <!-- Footer -->
            </div>
        </div>
    </div>
    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Assets/admin/js/ruang-admin.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- <script src="~/Assets/admin/js/controller/headerController.js"></script> -->
    <script src="~/Assets/admin/js/controller/headerControllerWebWorker.js"></script>
    <script src="~/Assets/admin/js/plugins/bootbox.min.js"></script>
    <script src="~/Assets/admin/js/plugins/mustache.min.js"></script>
    <script src="~/Assets/admin/js/plugins/jquery.twbsPagination.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    @RenderSection("jsFooter", required: false)
</body>

</html>
