<div class="mynavbar">
    <a class="myactive logo" href="/">
        <img src="~/Assets/admin/img/logo/logo.png" width="50" />
        Mobile World
    </a>

    <div class="search-container">
        <form action="/action_page.php">
            <input id="inpsearch" type="text" placeholder="Tìm sản phẩm, thương hiệu ..." required 
                   oninvalid="this.setCustomValidity('Hãy nhập từ khóa tìm kiếm')" autocomplete="off" name="search">
            <ul style="display: none" id="ulresult" class="styleUlSearch">
                <li class="liresult greetingsearch">Chào mừng bạn đến với Mobile World</li>
            </ul>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <ul class="mystyleul">
            <li>
                <a href="/">Trang chủ</a>
            </li>
            <li>
                <a href="@Url.Action("catalog", "homeshop", new { typeid = 1 })" id="dienthoai">Điện thoại</a>
            </li>
            <li>
                <a href="@Url.Action("catalog", "homeshop", new { typeid = 2 })" id="laptop">Laptop</a>
            </li>
            <li>
                <a href="#">Liên hệ</a>
            </li>
            <li>
                @{
                    var session = (MobileWorld.common.UserSession)Session["USER_SESSION"];
                    var text = "";
                    var name = "";
                    var id = 0;
                    if (session == null) { text = "Đăng nhập"; } else { text = "Đăng xuất"; name = session.UserName; id = session.UserId; }
                }
                <a href="#" id="login">@text</a>
            </li>
        </ul>
    </div>
    <ul class="navlinks">
        <li>
            @if (session != null)
            {
                <a class="greeting" href="@Url.Action("profile", "user", new { id = id })" id="greeting">Xin chào @name</a>
            }
            else
            {
                <a class="greeting" href="#" id="greeting">Xin chào</a>
            }
        </li>
        <li>
            @{ Html.RenderAction("CartHeader", "homeshop"); }
        </li>
    </ul>
</div>
